<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale = 1.0">
    <link rel="shortcut icon" type="x-icon" href="logonowords.png">
    <title>Profile Page</title>
    <!--font awesome cdn link-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">

    <!--custom css file link-->
    <link rel="stylesheet" href="orgprofilestyle.css">
</head>

<body>

    <!---Header section design-->
    <header>
        <div class="logo">
            <a href="/">
                <img src="https://i.imgur.com/MoSHBZX.png" class="logo" alt="HandinHand">
            </a>
        </div>
        <div class="user">
            <img src="{{userProf.ProfilePic}}" alt="">
            <h3 class="name">{{userProf.name}}</h3>
            <p class="post">Organization</p>
        </div>
        <nav class="navbar">
            <ul>
                <li><a href="#about">About</a></li>
                <li><a href="#current">Current Opportunities</a></li>
                <li><a href="#previous">Previous Opportunities</a></li>
                <li><a href="#photos">Photos</a></li>
                <li><a href="#contact">Contact Us</a></li>
                <li><a href="/editable">Edit</a></li>

            </ul>
        </nav>
    </header>

    <div id="menu" class="fas fa-bars"></div>

    <!---About section design-->
    <section class="about" id="about">
        <h3>HELLO!</h3>
        <h1>WE'RE <span>{{userProf.name}}</span></h1>
        <p id="aboutText">{{userProf.Description}}</p>
        <a href="#current"><button class="btn">Current Opportunities <i
                    class="fa-solid fa-calendar-week"></i></button></a>
    </section>

    <!--Current Opportunities design-->
    <section class="current" id="current">
        <h1 class="heading"><span>Current</span> Opportunities</h1>
        <div id="currentOpps"></div>

        {{!-- <div class="box-container">
            <div class="box">
                <i class="fa-solid fa-calendar-week"></i>
                <span>DAY</span>
                <h3>Opportunity 1</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio deserunt aspernatur
                    fugiat minus enim ullam repundiandae sint sed magnam tenetur!</p>
                <button class="btn1">Read More</button>
            </div>
        </div> --}}
        
    </section>

    <!--Previous Opportunities design-->
    <section class="previous" id="previous">
        <h1 class="heading"><span>Previous</span> Opportunities</h1>
        <div id="PreviousOpps"></div>

        <!-- <div class = "box-container">
            <div class = "box">
                <img src = "https://www.parents.com/thmb/TKfsiYM0mOsnTtYnrOoug95R1fA=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc()/GettyImages-626891352-99af025cafaf4e69a76cb8af44140201.jpg" alt = "">
                <button class = "btn1">Read More</button>
            </div>
            <div class = "box">
                <img src = "https://static.resumecoach.com/wp-content/uploads/sites/43/2023/08/04072948/volunteering-min.jpg" alt = "">            
                <button class = "btn1">Read More</button>
            </div>
            <div class = "box">
                <img src = "https://studenthub.city.ac.uk/__data/assets/image/0004/588622/22520249_1663264660372032_6249082430814274269_o.jpg" alt = "">
                <button class = "btn1">Read More</button>
            </div>
            <div class = "box">
                <img src = "https://www.southwesthealthcare.com/sites/swhealthcaresystem.com/files/images/banner/volunteering_610.jpg" alt = "">
                <button class = "btn1">Read More</button>
            </div>
            <div class = "box">
                <img src = "https://unityhealth.to/wp-content/uploads/2022/03/volunteer-2022-1000-1217.jpg" alt = "">
                <button class = "btn1">Read More</button>
            </div>
            <div class = "box">
                <img src = "https://www.torontopubliclibrary.ca/content/support-us/volunteering/images/volunteer-programs-hero.jpg" alt = "">
                <button class = "btn1">Read More</button>
            </div>
        </div> -->
    </section>

    <!--Photos design-->
    <section class="photos" id="photos">
        <h1 class="heading"><span>Photos</span></h1>
        <div id="photos"></div>
        <!-- <div class = "box-container">
            <div class = "box">
                <img src = "https://foodforthepoor.org/wp-content/uploads/volunteers-heart-giving-blog-1.jpg" alt = "">
            </div>
            <div class = "box">
                <img src = "https://info.flip.com/en-us/blog/get-inspired/environmental-volunteering/_jcr_content/root/container/container_copy/teaser.coreimg.85.1024.jpeg/1681702105963/earth-day-activities.jpeg" alt = "">
            </div>
            <div class = "box">
                <img src = "https://imageio.forbes.com/specials-images/imageserve/65ad49201b8a4682439df59f/Happy-group-of-volunteer-people-showing-importance-of-volunteering-/960x0.jpg?format=jpg&width=960" alt = "">
            </div>
            <div class = "box">
                <img src = "https://familypromisecarteret.org/wp-content/uploads/2015/03/url-14.jpeg" alt = "">
            </div>
            <div class = "box">
                <img src = "https://www.undp.org/sites/g/files/zskgke326/files/2023-08/01.jpg" alt = "">            
            </div>
            <div class = "box">
                <img src = "https://aginginplace.org/wp-content/uploads/Senior-Volunteer.jpg" alt = "">
            </div>
        </div> -->
    </section>

    <!--Contact Information Design-->
    <section class="contact" id="contact">
        <h1 class="heading"><span>Contact</span> Us</h1>
        <div class="row">
            <div class="content">
                <h3 class="title">contact information</h3>
                <div class="info">
                    <h3><i class="fas fa-envelope"></i> {{userProf.email}} </h3>
                    <h3><i class="fas fa-phone"></i> {{userProf.PhoneNum}}</h3>
                    <h3><i class="fas fa-map-marker-alt"></i> {{userProf.Location}}</h3>
                </div>
            </div>
            <form action="">
                <input type="text" placeholder="name" class="box">
                <input type="email" placeholder="email" class="box">
                <input type="text" placeholder="project" class="box">
                <textarea name="" id="" cols="30" rows="10" class="box message" placeholder="message"></textarea>
                <button type="submit" class="btn"> Send <i class="fas fa-paper-plane"></i></button>
            </form>
        </div>
    </section>

    <!-- scroll top -->
    <a href="About" class="top"></a>

    <!--jquery cdn link-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

    <!--custom js file link-->
    <script>
        $(document).ready(function () {
            $('#menu').click(function () {
                $(this).toggleClass('fa-times');
                $('header').toggleClass('toggle');
            });

            $(window).on('scroll load', function () {
                $('#menu').removeClass('fa-times');
                $('header').removeClass('toggle');

                if ($(window).scrollTop() > 0) {
                    $('.top').show();
                } else {
                    $('.top').hide();

                }
            });

            // smooth scrolling

            $('a[href*="#"]').on('click', function (e) {

                e.preventDefault();

                $('html, body').animate({
                    scrollTop: $($(this).attr('href')).offset().top,
                },
                    500,
                    'linear'

                );

            });

        });
    </script>
</body>

</html>